<%- include('header') -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
    <div style="padding: 2%;">
        <h1 style="text-align: center;">Edit A Product</h1>
    <form method="POST">
        <div class="form-group">
          <label for="pname">Product Name</label>
          <input type="text" class="form-control" id="pname" name="pname" value="<%= products[0].pname %>" placeholder="Enter your Product Name">
        </div>
        <div class="form-group">
            <label for="description">Product Description</label>
            <textarea class="form-control" id="description" name="description" rows="3"  placeholder="Enter your Product Description"><%= products[0].description %></textarea>
          </div>
          <div class="form-group">
            <label for="status">Product Status:</label>

<select name="status" id="status" value="<%= products[0].status %>">
  <option value="Finished">Finished</option>
  <option value="Ongoing">Ongoing</option>
  <option value="Inactive">Inactive</option>
  <option value="Planned">Planned</option>
</select>
          </div>
          <div class="form-group">
            <label for="pprogress">Product Progress:</label>
            <input type="number"  id="pprogress" name="pprogress" min="0" max="100" placeholder="0" value="<%= products[0].pprogress %>"> 
            <label for="progress_gui"> Progress:</label>
            <progress id="progress_gui" value="<%= products[0].pprogress %>" max="100"></progress>
            
            
          </div>
        <div class="form-group">
            <label for="picture">Display Picture Link</label>
            <textarea class="form-control" id="picture" value="<%= products[0].picture %>" name="picture" rows="1" placeholder="Enter your Project Display Picture"><%= products[0].picture %></textarea>
          </div>
          <div class="form-group">
            <label for="plink">Display Website Link</label>
            <textarea class="form-control" id="plink" value="<%= products[0].plink %>" name="plink" rows="1" placeholder="Enter your Project Link"><%= products[0].plink %></textarea>
          </div>
          <button type="submit" class="btn btn-primary" >Edit Product</button>
      </form>
    </div>
</body>
<script>
    $("#pprogress").on('change keydown paste input', function(){
        $('#progress_gui').val($('#pprogress').val())
      
});
</script>